tiny =:= PUTYOURCOMMANDHERE
light =:= PUTYOURCOMMANDHERE
heavy =:= PUTYOURCOMMANDHERE
frequency =:= 20
exit =:= 3,6, 9
movie =:= 7, 8, 9
force =:= 1,2,3
initial =:= light
bias =:= 120,5
beeps =:= some
counter =:= 15
check =:= time (use "activity" or just don't include in the config if you don't want it based off time.)
times =:= heavy-10:00-17:00,heavy-1:00 - 7:00,tiny-21:40-23:59, tiny-00:00-04:00
